@model MyBase.WEB.Models.UserViewModel
@{
    ViewBag.Title = "Delete";
}
@if (Model.Image != null)
{
    <a href=@Model.Image target="_blank">
        <img style='max-width:50%; max-height: 400px ; margin: 30px;' src=@Model.Image>
    </a>
}
else
{
    <img style='max-width:50%; max-height: 400px ; margin: 30px;' src="/Images/Default/default.jpg">
}
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt> 
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>

@using (Html.BeginForm("Delete", "User"))
{
    <h4>Вы уверены?</h4>
    <div class="form-actions no-color">
        <input type="hidden" value="@Model.FirstName" name="FirstName" />
        <input type="submit" value="Да" class="btn btn-default" />
    </div>
}
