@model MyBase.WEB.Models.UserViewModel
@{
    ViewBag.Title = "Delete";
}
@if (Model.ImageUrl != null)
{
    <a href=@Model.ImageUrl target="_blank">
        <img class="image-details" src=@Model.ImageUrl>
    </a>
}
else
{
    <img class="image-details" src="/Images/Default/default.jpg">
}
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt> 
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>

@using (Html.BeginForm("Delete", "User"))
{
    <h4>Вы уверены?</h4>
    <div class="form-actions no-color">
        <input type="submit" value="Да" class="btn btn-default" />
    </div>
}
