@model MyBase.WEB.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}
@if (TempData["Message"] != null)
{
    <div class="done">
        @TempData["Message"].ToString()
    </div>
}
<div>
    @if (Model.Image != null)
    {
        <a href=@Model.Image target="_blank">
            <img style='max-width:50%; max-height: 400px ; margin: 30px;' src=@Model.Image>
        </a>
    }
    else
    {
        <img style='max-width:50%; max-height: 400px ; margin: 30px;' src="/Images/Default/default.jpg">
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) 
    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" }) 
</p>
