@model MyBase.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
}

@if (Model.ImageUrl != null)
{
    <a href=@Model.ImageUrl target="_blank">
        <img class="image-details" src=@Model.ImageUrl>
    </a>
}
else
{
    <img class="image-details" src="/Images/Default/default.jpg">
}

<hr />

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.EditorFor(model => model.PhoneNumber) @Html.ValidationMessageFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
    </table>
    <hr />
    <input type="file" name="File" />
    <hr />
    <input type="submit" value="Готово" />
}
