@model MyBase.WEB.Models.IndexViewModel
@using MyBase.WEB.Helpers
@{
    ViewBag.Title = "View";
}
@if (TempData["Message"] != null)
{
    <div>
        @TempData["Message"].ToString()
    </div>
}

<table class="table">
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <a href=/User/Details/@item.Id>
                        <div style='width:200px; height: 200px; background-image: url(@item.Image); background-size: cover'>
                        </div>
                    </a>
                }
                else
                {
                    <a href=/User/Details/@item.Id>
                        <div style='width:200px; height: 200px; background-image: url(/Images/Default/default.jpg); background-size: cover'>
                        </div>
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) <br>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) <br>
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<br />
@if (Model.PageInfo.TotalItems > Model.PageInfo.PageSize)
{
    <div class="btn-group">
        @if (Model.PageInfo.PageNumber > 1)
        {
            @Html.RouteLink("<<", "Default", new { page = 1, size = Model.PageInfo.PageSize }, new { @class = "btn btn-default" })
            @Html.RouteLink("<", "Default", new { page = Model.PageInfo.PageNumber - 1, size = Model.PageInfo.PageSize }, new { @class = "btn btn-default" })
        }
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x, size = Model.PageInfo.PageSize }))
        @if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
        {
            @Html.RouteLink(">", "Default", new { page = Model.PageInfo.PageNumber + 1, size = Model.PageInfo.PageSize }, new { @class = "btn btn-default" })
            @Html.RouteLink(">>", "Default", new { page = Model.PageInfo.TotalPages, size = Model.PageInfo.PageSize }, new { @class = "btn btn-default" })
        }
    </div>

    <div class="btn-group" style="position:absolute; right:100px;">
        <header style="margin:5px;">Выводить по</header>
        @Html.RouteLink("10", "Default", new { size = 10 }, new { @class = "btn btn-default" })
        @Html.RouteLink("25", "Default", new { size = 25 }, new { @class = "btn btn-default" })
        @Html.RouteLink("100", "Default", new { size = 100 }, new { @class = "btn btn-default" })
    </div>
}
