@model MyBase.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Create";
}


<h3>Введите данные</h3>
@using (Html.BeginForm("Create", "Home"))
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.TextBox("FirstName") </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.TextBox("LastName") </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.TextBox("PhoneNumber") </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.TextBox("Email") </td>
        </tr>
        <tr><td><input type="submit" value="Готово" /> </td><td></td></tr>
    </table>
}

