@model MyBase.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
}

<h3>Изменить</h3>

@using (Html.BeginForm("Edit", "Home"))
{
    <input type="hidden" value="@Model.ContactId" name="ContactId" />
    <input type="hidden" value="@Model.PictureId" name="ContactId" />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.EditorFor(model => model.FirstName) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.EditorFor(model => model.LastName) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.EditorFor(model => model.PhoneNumber) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email) </td>
        </tr>
        <tr><td><input type="submit" value="Готово" /> </td><td></td></tr>
    </table>

    <hr />
    @Html.ActionLink("Все пользователи", "Index")

}
