@model MyBase.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
}

@if (Model.Image != null)
{
    @Html.Raw("<img style='height:280px; margin: 20px' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(Model.Image) + "\" />")
}
else
{
    <img style='width:200px' margin: 20px' src="/no.jpg">
}

<hr />

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>@Html.HiddenFor(model => model.ContactId)</td>
            <td>@Html.HiddenFor(model => model.PictureId) </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.EditorFor(model => model.PhoneNumber) @Html.ValidationMessageFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
    </table>
    <hr />
    <input type="file" name="File" />
    <hr />
    <input type="submit" value="Готово" />
    <hr />
}
